{% extends 'common.html' %}

    {% load static %}

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
      
    {% endblock %}

    {% block title %}
        <h2 class="top-title">Menu</h2>
        <h3 class="title">{{product.name}}</h3>
        <h4 class="sub-title"></h4>
    {% endblock %}
    
    {% block content %}
    <section>
        <div class='container' style="margin-top: 20px;">
            <div class='row product-detail' data-id={{product.id}}>
                <div class='col-md-6'>
                    <div class= 'image-detail-product'> 
                        <img src="{% static '/'%}{{product.image}}" height="500" width = '100%' >
                    </div>
                </div>
                <div class= 'col-md-6'>
                    <div class='info'>
                        <h1>{{product.name}}</h1>
                        {% if product.numSale > 0 %}
                            <span class='price-old' style="font-size: 22px;">{{product.price}}đ</span>
                        {% endif %}
                            <span class= 'price-new' style="font-size: 22px;">{{product.newPrice}}đ</span>
                    </div>
                    <label style="font-size: 18px;">Quantity:</label>
                    <input type="number" id="quantity" value='1' name="quantity" min="1" max="100"></br>
                    <button type="button" class="btn-buy" style="font-size: 25px;background-color: #8ad451;color: white;border: none; padding: 0 20px; margin: 20px 0">ĐẶT NGAY</button>
                    <div class = 'more' style="font-size: 18px;">
                        <div class='size'>
                            <h3>Choose Size:</h3>
                            <input type='radio' id='sizeM' name='size' value='M' checked='checked'>
                            <label for='sizeM'>M</label></br>
                            <input type='radio' id='sizeL' name='size' value='L'>
                            <label for='sizeL'>L</label></br>
                        </div>
                        <div class = 'sugar'>
                            <h3>Choose Sugar:</h3>
                            <input type='radio' name='sugar' value='100' checked='checked'>
                            <label>100% sugar</label></br>
                            <input type='radio' name='sugar' value='75'>
                            <label>75% sugar</label></br>
                            <input type='radio' name='sugar' value='50'>
                            <label>50% sugar</label></br>
                            <input type='radio' name='sugar' value='30'>
                            <label>30% sugar</label></br>
                        </div>
                        <div class='topping'>
                            <h3>Choose topping:</h3>
                            <input type="checkbox" id="topping1" name="topping" value="chanchau">
                            <label >chan chau</label><br>
                            <input type="checkbox" id="topping2" name="topping" value="pudding">
                            <label> pudding</label><br>
                            <input type="checkbox" id="topping3" name="topping" value="thach">
                            <label > thach rau cau</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class = "container">
            <h1>Some of Product</h1>
            <div class = "row wow fadeInUp delay-05s">
                {% for product in queryset1 %}
                    <div class ="col-md-3" >
                        <div class = "sale-off" data-id={{product.id}}>
                            <div class = "sale-off-image">
                                <img src="{% static '/'%}{{product.image}}" >
                            </div>
                            <div class= 'sale-tags'>
                                <span>-20%</span>
                            </div>
                            <div class = "sale-off-info">
                                <div class = "name-product">{{product.name}}</div>
                                <div class = "price">
                                    <div class = "price-old">{{product.price}}đ</div>
                                    <div class = "price-new">{{product.newPrice}}đ</div>
                                </div>
                                <div class = "action">
                                    <button type="button" class="btn-buy" data-toggle="modal" data-target="#exampleModalCenter">ĐẶT NGAY</button>
                                    <a href="{% url 'products' %}{{product.id}}" ><button type="button" class="btn-show">XEM CHI TIET</button></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="modal fade"id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                
                <div class="modal-body">
                  <div class = 'image-modal'>
                      <img  height="120px" width="120px">
                  </div>
                  <div class = 'info-modal'>
                        <h3></h3>
                        <h4></h4>
                        <label>Quantity:</label>
                        <input type="number" id="quantity" value='1' name="quantity" min="1" max="100">
                  </div>
                  
                </div>
                <div class = 'more'>
                    <div class = 'size'> 
                        
                        
                    </div>
                    <div class = 'ice'>

                    </div>
                    <div class = 'sugar'>

                    </div>
                    <div class='topping'>
                        <h4>Choose topping:</h4>
                        <input type="checkbox" id="topping1" name="topping" value="chanchau">
                        <label >chan chau</label><br>
                        <input type="checkbox" id="topping2" name="topping" value="pudding">
                        <label> pudding</label><br>
                        <input type="checkbox" id="topping3" name="topping" value="thach">
                        <label > thach rau cau</label><br>
                    </div>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary save-modal">Save changes</button>
                </div>
              </div>
            </div>
          </div>
    </section>
    <script src="{% static 'js/detail.js' %}"></script>
    {% endblock %}